<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="register-page">
        <div class="container">

            <div class="register-card card">

                <div class="register-header">
                    <div class="logo">W</div>

                    <h1>Create Account</h1>

                    <p>Register to continue using our platform.</p>
                </div>

                <form method="POST">
                    {% csrf_token %}

                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Enter username" required>
                    </div>

                    <div class="field">
                        <label>Email Address</label>
                        <input type="email" name="email" placeholder="Enter email" required>
                    </div>

                    <div class="field">
                        <label>Address</label>
                        <textarea name="address" rows="4" placeholder="Enter your address" required></textarea>
                    </div>

                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter password" required>
                    </div>

                    <div class="field">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password" placeholder="Confirm password" required>
                    </div>

                    <button type="submit" class="btn">
                        Create Account
                    </button>

                </form>

                <div class="login-link">
                    Already have an account?
                    <a href="">Login</a>
                </div>

            </div>

        </div>
    </section>

</body>

</html>