<section id="team">
    <div class="container">
        <h2 class="reveal">Meet the CEO </h2>

        <div class="grid grid-3 team-grid">
            <div class="card team-card reveal">
                <div class="team-photo">
                        <img src="/static/images/wanjospic.jpg" loading="lazy" alt="Wandiyahyel Joseph – Lead Developer">
                    </div>
                <h3>Wandiyahyel Joseph </h3>
                <p class="role"> Senior Software Engineer </p>
            </div>
            
            
        </div>
    </div>
</section>
