{% extends "base.html" %}
{% block title %}Add Testimonial{% endblock %}

{% block content %}

<section class="hero">
  <div class="orb"></div>
  <div class="orb orb-2"></div>
  <div class="container wrap">
    <div>
      <span class="tag">Admin Panel</span>
      <h1>Add <span class="grad">New Testimonial</span></h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="card" style="max-width:700px; margin:auto;">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="field">
          <label>Name</label>
          <input type="text" name="name" required>
        </div>

        <div class="field">
          <label>Position</label>
          <input type="text" name="position" required>
        </div>

        <div class="field">
          <label>Company</label>
          <input type="text" name="company" required>
        </div>

        <div class="field">
          <label>Message</label>
          <textarea name="message" rows="5" required></textarea>
        </div>

        <div class="field">
          <label>Image</label>
          <input type="file" name="image">
        </div>

        <button type="submit" class="btn">Add Testimonial →</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}